# =========================
# Build outputs
# =========================
build/
out/
bin/
dist/

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# =========================
# Binaries
# =========================
*.exe
*.dll
*.pdb
*.obj
*.o
*.a
*.lib
*.exp
*.ilk

# =========================
# Visual Studio build dirs
# =========================
x64/
x86/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

# =========================
# Logs
# =========================
*.log
*.tlog

# =========================
# ImGui
# =========================
imgui.ini

# =========================
# Models (VERY IMPORTANT)
# =========================
models/
*.gguf
*.onnx
*.safetensors
*.bin

# =========================
# Runtime downloads
# =========================
cache/
downloads/

# =========================
# Personal files
# =========================
memo.txt

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# nlohmann json
# =========================
thirdparty/json/docs/
thirdparty/json/tests/
thirdparty/json/tools/
thirdparty/json/benchmarks/